@import '../../styles/mixins.scss';
.MainLeft {
  @include adaptiv-value('min-width', 200, 140, 1);
  background: #dddddd;
  backdrop-filter: blur(2px);
  padding: 8px 8px 12px;
  border-radius: 15px;
}

h1 {
  // background: #6262629c;
  color: #000;
  margin: 0 0 16px;
}

.filter_body {
  padding-left: 12px;
}

.filter_item {
  list-style: none;
}
